@model IEnumerable<Product>

<h1>This is Products View</h1>

@foreach (var item in ViewBag.Products)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@item.Img" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Description</p>
            <a href="@item.Url" target="_blank" class="btn btn-primary">Shop at Hackster!</a>
        </div>
    </div>
}
